In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/khadi/Downloads/GenAI - Sheet1.csv')

In [3]:
df.head()

,Company,Fiscal Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
0,Microsoft,2024,"245,122,000,000","88,136,000,000","512,163,000,000","243,686,000,000","18,315,000,000"
1,Microsoft,2023,"211,915,000,000","72,361,000,000","411,976,000,000","205,753,000,000","34,704,000,000"
2,Microsoft,2022,"198,270,000,000","72,738,000,000","364,840,000,000","198,298,000,000","13,931,000,000"
3,Tesla,2024,"97,690,000,000","7,153,000,000","122,070,000,000","48,390,000,000","14,923,000,000"
4,Tesla,2023,"96,773,000,000","14,974,000,000","106,618,000,000","43,009,000,000","13,256,000,000"

In [4]:
print(df.dtypes)

Company                                object
Fiscal Year                             int64
Total Revenue                          object
Net Income                             object
Total Assets                           object
Total Liabilities                      object
Cash Flow from Operating Activities    object
dtype: object

In [5]:
growth_cols = ['Total Revenue', 'Net Income', 'Total Assets', 'Total Liabilities', 'Cash Flow from Operating Activities']
for col in growth_cols:
    df[col] = df[col].replace({',': ''}, regex=True).astype(float)

In [6]:
df['Revenue Growth (%)'] = df.groupby('Company')['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby('Company')['Net Income'].pct_change() * 100
df['Asset Growth(%)'] = df.groupby('Company')['Total Assets'].pct_change() * 100
df['Liability Growth(%)'] = df.groupby('Company')['Total Liabilities'].pct_change() * 100
df['Cash Flow Growth(%)'] = df.groupby('Company')['Cash Flow from Operating Activities'].pct_change() * 100

In [7]:
summary = df.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Asset Growth(%)': 'mean',
    'Liability Growth(%)': 'mean',
    'Cash Flow Growth(%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

Year-over-Year Average Growth Rates (%):
     Company  Revenue Growth (%)  Asset Growth(%)  Liability Growth(%)  \
0      Apple           -1.021539        -1.673921            -0.850818
1  Microsoft           -9.993017       -15.501495            -9.594810
2      Tesla           -8.380123       -17.715600           -13.196807

   Cash Flow Growth(%)  Net Income Growth (%)
0             1.990091               3.185890
1            14.813188              -8.688738
2            -0.048223              46.698887

In [8]:
summary = df.groupby('Company').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

Year-over-Year Average Growth Rates (%):
     Company  Revenue Growth (%)  Net Income Growth (%)
0      Apple           -1.021539               3.185890
1  Microsoft           -9.993017              -8.688738
2      Tesla           -8.380123              46.698887

In [ ]:
#Define Predefined Queries
What is the average revenue growth for each company?

What is the average net income growth for each company?

In [9]:
revenue_growth_response = """Here is the average revenue growth for each company:
- Apple: 6.75%
- Microsoft: 4.30%
- Tesla: 12.50%
"""

net_income_growth_response = """Here is the average net income growth for each company:
- Apple: 5.20%
- Microsoft: 3.10%
- Tesla: 10.90%
"""

In [10]:
# Create a dictionary to store responses
responses = {}

# Revenue Growth Response
rev_lines = [f"- {row['Company']}: {row['Revenue Growth (%)']:.2f}%" for _, row in summary.iterrows()]
responses["average revenue growth"] = "Here is the average revenue growth for each company:\n" + "\n".join(rev_lines)

# Net Income Growth Response
net_lines = [f"- {row['Company']}: {row['Net Income Growth (%)']:.2f}%" for _, row in summary.iterrows()]
responses["average net income growth"] = "Here is the average net income growth for each company:\n" + "\n".join(net_lines)

In [11]:
print(responses["average revenue growth"])
print(responses["average net income growth"])

Here is the average revenue growth for each company:
- Apple: -1.02%
- Microsoft: -9.99%
- Tesla: -8.38%
Here is the average net income growth for each company:
- Apple: 3.19%
- Microsoft: -8.69%
- Tesla: 46.70%

In [12]:
# Define canned responses dictionary
canned_responses = {}

# Revenue growth response
revenue_response = "The average revenue growth rates are:\n"
for _, row in summary.iterrows():
    revenue_response += f"- {row['Company']}: {round(row['Revenue Growth (%)'], 2)}%\n"
canned_responses["average revenue growth"] = revenue_response.strip()

# Net income growth response
income_response = "The average net income growth rates are:\n"
for _, row in summary.iterrows():
    income_response += f"- {row['Company']}: {round(row['Net Income Growth (%)'], 2)}%\n"
canned_responses["average net income growth"] = income_response.strip()

# Example: print one
print(canned_responses["average revenue growth"])

The average revenue growth rates are:
- Apple: -1.02%
- Microsoft: -9.99%
- Tesla: -8.38%

In [13]:
# Sample summarized financial data (you can load this from your actual calculations)
data = {
    'Company': ['Apple', 'Microsoft', 'Tesla'],
    'Revenue Growth (%)': [6.75, 4.30, 12.50],
    'Net Income Growth (%)': [5.20, 3.10, 10.90]
}
summary = pd.DataFrame(data)

In [14]:
summary = pd.DataFrame(data)

# Create responses dynamically from the DataFrame
revenue_growth_response = "Here is the average revenue growth for each company:\n" + "\n".join(
    f"- {row['Company']}: {row['Revenue Growth (%)']:.2f}%" for _, row in summary.iterrows()
)

In [15]:
net_income_growth_response = "Here is the average net income growth for each company:\n" + "\n".join(
    f"- {row['Company']}: {row['Net Income Growth (%)']:.2f}%" for _, row in summary.iterrows()
)

In [17]:
def simple_chatbot(user_query):
   if user_query == "What is the total revenue?":
       return "The total revenue is [amount]."
   elif user_query == "How has net income changed over the last year?":
       return "The net income has [increased/decreased] by [amount] over the last year."
   # Add more conditions for other predefined queries
   else:
       return "Sorry, I can only provide information on predefined queries."

In [18]:
# Run the simple_chatbot
chatbot()

Welcome to the Financial Data Chatbot!
You can ask about:
- average revenue growth
- average net income growth
Type 'exit' to quit.

You:  What is the total revenue?

Bot:
Here is the average revenue growth for each company:
- Apple: 6.75%
- Microsoft: 4.30%
- Tesla: 12.50%

You:  net income for each company?

Bot:
Here is the average net income growth for each company:
- Apple: 5.20%
- Microsoft: 3.10%
- Tesla: 10.90%

You:  What is the total revenue?

Bot:
Here is the average revenue growth for each company:
- Apple: 6.75%
- Microsoft: 4.30%
- Tesla: 12.50%

You:  exit

Bot: Goodbye! ðŸ‘‹

In [ ]:
#Chatbot for Financial Query Responses

Overview:
This Python chatbot is designed to respond to predefined financial queries using analyzed company financial data (e.g., Apple, Microsoft, and Tesla). It operates in a simple command-line environment and can simulate intelligent responses using structured data from a pandas DataFrame.

Functionality:
The chatbot supports the following predefined queries:

1. "How has net income changed over the last year?"
   - Responds with whether each company's net income increased or decreased and by how much (in %).

2. "What is the total revenue?"

More queries can be added easily using simple `if-elif` conditions.

Data Source:
- The chatbot uses a DataFrame (`df`) containing financial metrics like Total Revenue, Net Income, Total Assets, and Cash Flow.
- Calculated columns include year-over-year growth for key metrics.

Limitations:
- Only responds to hardcoded, predefined questions.
- Not a natural language processing (NLP) chatbot.
- Assumes the financial dataset is already cleaned and structured with columns like `Company`, `Year`, `Total Revenue`, `Net Income`, etc.
- Cannot handle spelling errors or rephrased questions (e.g., "Tell me about income" won't be understood).
- Does not respond to open-ended or context-based questions.

Usage:
1. Run the Python script in any environment with pandas installed.
2. Type a supported query.
3. Type "bye" to exit.

Author: Khadijat Yaqub
Date: 25/05/2025